<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <style>
        body {
          
            font-family: 'Arial', sans-serif;
           
            margin: 0;
            padding: 0;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #007bff;
            font-size: 18px;
            margin-top: 20px;
            display: inline-block;
            padding: 10px;
            border: 1px solid #007bff;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #007bff;
            color: #ffffff;
        }

        form {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        div {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }

        select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #ffffff; /* Match background color */
        }

        input[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #0056b3; /* Darker shade for hover effect */
        }
    </style>
</head>
<body >
    <a href="/userarticle"><< Back</a>
    <form id="form" name="form" method="post">
        <div>Title <input type="text" id="title" name="title" /></div>
        <div class="form-group">
            <label for="selectTopic">Select Topic:</label>
            <select id="selectTopic" name="topic" class="form-control">
                <option value="all">All Topics</option>
                <% topics.forEach(function(topic) { %>
                    <option value="<%= topic._id %>"><%= topic.topic %></option>
                <% }) %>
            </select>
        </div>
        <div>Content <textarea id="content" name="content">type here</textarea></div>
        <div><input type="submit" value="Edit Article" /></div>
    </form>
</body>
</html>
